*{
    box-sizing: border-box;
}

body {
    background-color: #0a0a24;
    color: white;
}

.container {
    width: 400px;
    height: 600px;
    background-color: lightcoral;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.container .screen{
    width: 80%;
    height: 15%;
    background-color: lightgray;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen-text {
    width: 95%;
    height: 80%;
    border: 2px solid gray;
    border-radius: 5px;
    background-color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 2rem;
    color: black;
}

.container .buttons-container{
    width: 80%;
    height: 70%;
    background-color: lightgray;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.buttons-container .other-buttons {
    width: 90%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.other-buttons .row {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttons-container .main-buttons {
    width: 90%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.main-buttons .row {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button-number, .button-op, .button-decimal, .button-other {
    width: 20%;
    height: 80%;
    background-color: gray;
    border: none;
    border-radius: 10px;
}

.button-op {
    background-color: darkorange;
}

.button-text {
    text-align: center;
    font-size: 1.5rem;
    color: white;
    margin: 0;
}

.button-text:hover {
    cursor: pointer;
    background-color: lightslategray;
}

.button-text:active {
    background-color: black;
    border: 3px solid gray;
}

.button-op.clicked {
    background-color: black;
    border: 2px solid gray;
    cursor: default;
}

