*{
    box-sizing: border-box;
}

body {
    background-color: #0a0a24;
    color: white;
}

.container {
    width: 400px;
    height: 600px;
    background-color: lightcoral;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.container .screen{
    width: 80%;
    height: 15%;
    background-color: lightgray;
}

.container .buttons-container{
    width: 80%;
    height: 70%;
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.buttons-container .main-buttons {
    width: 90%;
    height: 70%;
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

.buttons-container .operators {
    width: 30%;
    height: 70%;
    border: 2px solid orange;
}

.number-row {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #0a0a24;
}

.number-row div {
    width: 20%;
    height: 80%;
    background-color: gray;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number-row div:hover {
    background-color: lightslategray;
}


.number-row:last-of-type::before{
    width: 20%;
    height: 80%;
    content: "";
}

.button-text {
    text-align: center;
    font-size: 1.5rem;
    margin: 0;
}


