body {
    background-color: #0a0a24;
    color: white;
}

.container {
    width: 400px;
    height: 600px;
    background-color: lightcoral;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.container .screen{
    width: 80%;
    height: 20%;
    background-color: lightgray;
}

.container .buttons{
    width: 80%;
    height: 70%;
    background-color: lightgray;
}